.Designed{
    display: flex;
    margin-top: 100px;
}
.Designed img{
   margin-left: -40px; 
}
.Designed__text{
    margin-left: 100px;
}
.Designed__text h2{
  font-size: 46px;
  font-family: Poppins;
  font-weight: bold;
  font-style: normal;
  color: #242f51;
}
.Designed__text p{
    color: #929396;
    font-family: Poppins;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 40px;
}