.header{
       margin-top: 93px;
       background-image: url(../img/Layer.png);
       background-repeat: no-repeat;
       background-position: bottom;
}
.phone-header img{
margin-top: 40px;
margin-left:680px;
height: 650px;
}