.section-company{
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: center;
    color: #5a627c;
    padding-top:100px;
    margin-bottom: 175px;
}
.section-company__icon {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}