.Testimonils{
    display: flex;
    padding-top: 144px;
}
.Testimonila__img{
    width: 630px;
}
.Testimonils__main{
    width: 600px;
    margin-left: 76px;
}
.Testimonils__main h1,h3 {
    font-family: Poppins;
    font-weight: 600;
    font-style: normal;
    color: #242f51;
    // font-size: 3px;
}
.Testimonils__main p{
     line-height: 28px;
     color: #616368;
     font-family: Poppins;
     font-style: normal;
     
}